.crop_modal_dimensions {
  float: left;
}
.crop_modal_content {
  display: none;
  overflow: scroll;
  width: 1000px;
  height: 600px ;
}

.ui-dialog 
{
  position:fixed;
  height: auto;
  background-color: aquamarine;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0, 0, 0) inset;
}
